@import "tailwindcss";

html {
    font-family: var(--font-serif);
}

body {
    background-color: var(--color-gray-200);
}

@theme {
    --color-primary: oklch(60.9% 0.126 221.723);
    --color-secondary: oklch(71.5% 0.143 215.221);
    --color-neutral: oklch(70.8% 0 0);
    --color-neutral-desc: oklch(87% 0 0);
    --color-cancel: oklch(57.7% 0.245 27.325);
    --color-cancel-desc: oklch(63.7% 0.237 25.331);
    --color-accept: oklch(62.7% 0.194 149.214);
    --color-accept-desc: oklch(72.3% 0.219 149.579);
    --color-edit: oklch(82.8% 0.189 84.429);
    --color-edit-desc: oklch(87.9% 0.169 91.605);
    --color-error: oklch(50.5% 0.213 27.518);
}


@layer base {
    h1 {
        font-size: var(--text-xl);
        font-weight: bold;
    }

    h2 {
        font-size: var(--text-lg);
        font-weight: 600;
    }
}